@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
.box{
    transition: 0.3s all ease-in-out;
}
.box.active{
    margin: none;
    right: 0;
}
.mega--wrap{
    transition: 0.5s all ease-in-out;
}
.mega--wrap .active{
   transition: 0.5s all ease-in-out;
   top : 5.5rem;
}


@media all and (min-width:768px) {
   .ham-btn{
    display: none;
   }    

}

@media (max-width:768px){
    .mega--menu{
        display: none;
    }
}

.grid--info{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.info--box .active{
     font-size: 24px;
     color: rgb(240, 117, 8);
}